*.sqlite*
/node_modules
/public/hot
/public/uploads
/public/user_kyc_image
/public/storage
/storage/*.key
/vendor
/.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/app.js
/public/spoc_html
/composer.lock